@import 'ScreenSizes.scss';
@import 'Breakpoint.scss';

$px: (0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100);
$sides: (top, right, bottom, left);

@each $space in $px {
  @each $side in $sides {
    .m#{str-slice($side, 0, 1)}#{$space} {
      margin-#{$side}: #{$space}px !important;
    }

    .p#{str-slice($side, 0, 1)}#{$space} {
      padding-#{$side}: #{$space}px !important;
    }

    .m#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: -#{$space}px !important;
    }

    .p#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: -#{$space}px !important;
    }
  }
}

@include Breakpoint($grid-breakpoint-sm) {
  @each $space in $px {
    @each $side in $sides {
      .m#{str-slice($side, 0, 1)}#{$space}--mb {
        margin-#{$side}: #{$space}px !important;
      }
      .p#{str-slice($side, 0, 1)}#{$space}--mb {
        padding-#{$side}: #{$space}px !important;
      }

      .m#{str-slice($side, 0, 1)}-#{$space}--mb {
        margin-#{$side}: -#{$space}px !important;
      }
      .p#{str-slice($side, 0, 1)}-#{$space}--mb {
        padding-#{$side}: -#{$space}px !important;
      }
    }
  }
}
