@import '../utils/Colours.scss';
@import '../utils/Breakpoint';
@import '../utils/ScreenSizes';

.stats-card-container {
  display: flex;
  flex-direction: row;
  border: 1px solid $MERCURY;
  border-radius: 4px;
  height: 80px;
  margin-right: 10px;
  background-color: $WHITE;

  &:last-of-type {
    margin-right: 0px;
  }

  @include Breakpoint($MEDIUM) {
    margin: 10px 0px 10px 0px;
  }

  .stats-card-image-container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    width: 8px * 10;
    background-color: rgb(245, 244, 244);

    .card--trends {
      display: inline-flex;
      align-items: center;

      & .icon {
        display: inline-flex;
        align-items: center;
      }

      & .icon--paragraph {
        display: inline;
        margin: 0 5px;
        font-size: 0.75rem;
        font-weight: 500;
      }
    }

    .stats-card-image-wrapper {
      width: 40px;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;

      img {
        height: 22px;
      }
      .icon {
        svg {
          width: auto;
          height: 22px;
        }
      }
    }
  }

  .stats-card-content {
    padding-left: 16px;
    padding-right: 16px;
    justify-content: center;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    h6 {
      margin: 0px;
      display: inline-block;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: 100%;
    }
    p {
      margin: 0px;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: 100%;

      @include Breakpoint($MEDIUM) {
        font-size: 14px;
      }
    }
  }

  .stats-card-amount {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-right: 18px;

    h5 {
      font-weight: 600;
    }
  }
}
